/backend/node_modules
/backend/.env
/backend/package-lock.json
/backend/*.log
/backend/build
/backend/dist
/frontend/.vscode/
/backend/.vscode/
/frontend/.idea/
/backend/.idea/
/frontend/*.swp
/backend/*.swp
/frontend/*.bak
/backend/*.bak
/frontend/*.tmp
/backend/*.tmp
