@import url(../defaults.css);

.footer {
    margin-top: 8rem;
}

.footer-items {
    padding: 3rem 3rem 3rem 0;
    display: flex;
    gap: 14rem;
}

.items-introduction,
.items-links,
.items-helps {
    display: flex;
    flex-direction: column;
    gap: 3rem;

}

.container-links-helps {
    display: flex;
    gap: 15rem;
}

.item-introduction__name {
    font-size: 2.4rem;
}

.footer-logo-name {
    font-family: "Poppins-Bold";
    color: var(--Primary-color);
}

.item-introduction__address {
    font-family: var(--primary-font);
    color: var(--gray-color);

}

.item-links__link,
.item-helps__link {
    color: var(--dark-color);

}

.item-helps__link--active {
    color: var(--Primary-color);
}

.item-links__link--active {
    color: var(--Primary-color);
}

.items-helps__title,
.items-Newsletter,
.items-links__title {
    color: var(--gray-color);
}



.form-newsLetter {
    display: flex;
    gap: 1rem;
}

.items-Newsletter__box-input,
.items-Newsletter__box-button {
    border-bottom: var(--dark-color) solid 0.1rem;
}

.items-Newsletter__input-email,
.items-Newsletter__subscribe {
    outline: none;
    border: none;
    background-color: transparent;
}

.items-Newsletter__input-email::placeholder {
    color: var(--gray-color);
    font-size: 1.4rem;
    font-family: var(--primary-font);
}



.items-Newsletter__subscribe {
    font-family: "Poppins-Medium";
    font-size: 1.6rem;
    cursor: pointer;
}

hr {
    stroke: #D9D9D9;
}

.box-copt-right {
    padding: 2rem 0 2rem 0;
}

.copt-right-text {
    font-family: var(--primary-font);
    text-shadow: 2px 2px 4px rgba(184, 142, 47, 0.7);
}

.Returns-btn-help {
    cursor: pointer;
}

.Returns-btn-help:hover {
    color: var(--Primary-color);
}