.shop-products__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.shop-products__number-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.shop-products__pagination-box-btn,
.shop-products__next-btn-box,
.shop-products__prev-btn-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #F9F1E7;
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
    user-select: none;

}

.shop-product-button,
.shop-products__button-next-text,
.shop-products__button-prev-text {
    font-size: 2rem;
    font-family: var(--primary-font);
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.shop-products__next-btn-box,
.shop-products__prev-btn-box {
    width: 9.6rem;
    transition: all 0.8s ease-in-out;

}

.shop-products__next-btn-box:hover,
.shop-products__prev-btn-box:hover {
    background-color: #d2bc89;
}

.shop-products__next-btn-box {
    margin-left: 3rem;
}

.shop-products__prev-btn-box {
    margin-right: 3rem;
}

.shop-products__pagination-box--active {
    background-color: var(--Primary-color);
}

.shop-product-button--active {
    color: var(--white-color);
}