.product-section {
    margin-top: 8rem;
}

.product__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins-Bold";
    color: var(--text-Secondary-color);
    font-size: 4rem;
}

.product-box {
    background-color: #F4F5F7;
    border-radius: 2.5rem;
    box-shadow: 0 4px 8px rgba(184, 142, 47, 1);
    position: relative;
}

.product__img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
}

.product-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(58, 58, 58, 72%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2.5rem;
}

.img-box-overlay:hover .product-overlay {
    opacity: 1;
}

.box-add-btn-cart {
    width: 20.2rem;
    height: 4.2rem;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.box-add-btn-cart__text {
    color: var(--Primary-color);
    font-family: "Poppins-SemiBold";
}

.product-overlay__options {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.option-overlay {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.option-overlay__text {
    color: var(--white-color);
    margin-left: 0.8rem;
}

.Discount-product {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 4.8rem;
    height: 4.8rem;
    background-color: #E97171;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Discount-product--green {
    background-color: #2EC1AC;
}

.Discount-product__number {
    color: var(--white-color);
}

.product-Introductions {
    padding: 3rem 2rem 3rem 2rem;

}

.product-name {
    font-family: "Poppins-SemiBold";
    font-size: 2.4rem;
    color: var(--text-Secondary-color);
}

.product-Introduction {
    color: #898989;
    margin: 1rem 0rem 1rem 0rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-price-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    height: 7rem;
}

.product-price {
    font-family: "Poppins-SemiBold";
    font-size: 2rem;
}

.product-discountPrice {
    text-decoration: line-through;
    color: #B0B0B0;
}

.alert {
    font-size: 2.5rem;
    background-color: #ff0000;
    font-family: var(--primary-font);
}

.row-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 
============== 
   btn-show-more
==============
*/
.box-btn-show-more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.show-more {
    outline: none;
    background-color: transparent;
    border: none;
    border: 0.1rem solid var(--Primary-color);
    width: 24.8rem;
    height: 4.8rem;
    color: var(--Primary-color);
    font-family: "Poppins-Bold";
    cursor: pointer;
}

.show-more__loder {
    display: none;
}