.services {
    width: 100%;
    background-color: #FAF3EA;
    box-shadow: 5px 5px 15px rgba(184, 142, 47, 0.7);
    margin-top: 10rem;
    padding: 5rem 0;
}

.service-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service {
    display: flex;
    align-items: center;
}

.service__box-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}

.service__title {
    font-size: 2.5rem;
    font-family: "Poppins-SemiBold";
    color: #242424;
}

.service__caption {
    color: #898989;
    font-size: 2rem;
    font-family: "Poppins-Medium";
}