@import url(../Features/navBar.css);
@import url(../Features/homeSection.css);
@import url(../Features/footer.css);
@import url(../Features/service.css);
@import url(../Features/loader.css);
@import url(../defaults.css);

.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    gap: 3rem;
}

.about-us__description-box {
    background-color: #f9f1e7;
    padding: 2rem;
    height: 100%;
    border-radius: 2rem;
    text-align: center;
}

.about-us-img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.about-us__title {
    font-size: 4.8rem;
    font-family: "Poppins-SemiBold";
}

.about-us_descriptin {
    font-family: "Poppins-Regular"
}