@import url(../defaults.css);
@import url(../Features/loader.css);

body {
    background-color: #FAF3EA;
    min-height: 100vh;
}

.auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem 0;
}

.signup-now {
    font-weight: 250;
}

.auth-wrapper {
    max-width: 45rem;
    overflow: hidden;
    background: #fff;
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 30px rgba(184, 142, 47, 0.7);
}

.form-title {
    display: flex;
    width: 200%;
}

.auth-title {
    font-size: 3.5rem;
    font-family: "Poppins-SemiBold";
    width: 50%;
    text-align: center;
}

.signIn-title {
    margin-left: 0%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-container {
    width: 100%;
    overflow: hidden;
    margin-top: 2rem;
}

.form-slide-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    border: lightgrey 0.025rem solid;
    font-family: "Poppins-Regular";
    border-radius: 1rem;
    font-size: 1.8rem;
    gap: 3rem;
}

.btn-signIn,
.btn-signUp {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.btn-signIn--active {
    background-color: var(--Primary-color);
    width: 50%;
    border-radius: 1rem;
    color: #fff;
}

.form-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 200%;
}

.form-signIn {
    margin-left: 0%;
}

.form-signIn,
.form-signUp {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-signUp {
    margin-top: 2rem;
}

.input-box {
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input {
    outline: none;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    font-size: 1.8rem;
    font-family: "Poppins-Regular";
    transition: all 0.3s ease;
}

.input-box:focus-within {
    border-color: var(--Primary-color);
}

::placeholder {
    color: #999;
}

#input-password-icon {
    color: #999;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
}

.input-box {
    color: var(--Primary-color);
}

.input-box:focus-within #input-password-icon {
    color: var(--Primary-color);
}

.input:focus::placeholder {
    color: var(--Primary-color);
}

.btn-Register:disabled,
.btn:disabled {
    background-color: #c0c0c0;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(184, 142, 47, 0.7);
    cursor: not-allowed;
}

.btn {
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--Primary-color);
    border-radius: 1rem;
    color: white;
    font-size: 2rem;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}


.Email-validation-Valid,
.password-validation-Valid,
.fullName-validation-valid {
    color: green;
    display: none;
}

.Email-validation-invalid,
.password-validation-invalid,
.fullName-validation-invalid {
    color: red;
    display: none;
}

.progress-container {
    width: 100%;
    background-color: #d0d0d0;
    border-radius: 25px;
}

.progress-container:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar {
    width: 0%;
    height: 20px;
    background-color: #4caf50;
    border-radius: 25px;
    text-align: center;
    line-height: 20px;
    color: #eeeeee;
    transition: width 75ms ease-in-out, background-color 0.3s ease-in-out;
}

.password-checker-container {
    height: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    margin-bottom: -2rem;
    transition: height 1000ms ease-in-out, opacity 1000ms ease-in-out, visibility 1000ms ease-in-out;
}

.password-checker-container--active {
    height: 20rem;
    padding: 1rem;
    visibility: visible;
    margin-bottom: 0;
    overflow-y: auto;
    opacity: 1;
}

.criteria {
    padding: 0;
    margin-top: 1rem;
}

.criteria-item {
    color: red;
}

.valid {
    color: green;
}

.show-more__loder,
.show-more__loder {
    height: 100%;
    width: 100%;
    background-color: var(--Primary-color);
}


.lodaer-sign-in,
.lodaer-sign-up {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    display: flex;
}