@import url(../Features/navBar.css);
@import url(../Features/footer.css);
@import url(../Features/products.css);
@import url(../Features/homeSection.css);
@import url(../Features/service.css);
@import url(../Features/loader.css);
@import url(../defaults.css);

/*
==========================
cart-shop
==========================
*/
.cart-shop-section {
    width: 100%;
    height: 100%;
}

.cart-shop-section__shop-title-keeper {
    width: 100%;
    background-color: #F9F1E7;
    box-shadow: 0px 0px 30px rgba(184, 142, 47, 0.7);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.cart-shop-section__details-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    gap: 1rem;
}

.cart-shop-section__box-img {
    width: 10.5rem;
    height: 10.5rem;
    background-color: rgb(184, 142, 47, 23%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    position: relative;
}

.lable-product-box-cart {
    position: absolute;
    right: 0;
    left: -2rem;
    top: -2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    z-index: 1000;
}


.Discount-product-cart {
    width: 3.8rem;
    height: 3.8rem;
    background-color: #E97171;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-shop-section__img {
    mix-blend-mode: multiply;
    width: 11rem;
    height: 9rem;
}

.cart-shop-section__name-price {
    display: flex;

    flex-basis: 45%;
}

.cart-shop-section__Quantity-Subtotal-icon {
    display: flex;
    align-items: center;
    flex-basis: 45%;
}


.cart-shop-section__product-price,
.cart-shop-section__product-name {
    color: var(--gray-color);
    font-family: var(--primary-font);
}

.cart-shop-section__product-Quantity-box {
    border-radius: 0.5rem;
    border: 0.1rem solid var(--gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
}


.cart-shop-section__product-Quantity {
    outline: none;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    padding-left: 1rem;

}

.cart-shop-section__product-Quantity[type="number"]::-webkit-inner-spin-button,
.cart-shop-section__product-Quantity[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;

}

.cart-shop-section__product-Subtotal {
    font-family: var(--primary-font);
}

.cart-shop-section__total {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-shop-section__box-total {
    width: 39.3rem;
    background-color: #F9F1E7;
    box-shadow: 0px 0px 30px rgba(184, 142, 47, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6rem;
    padding: 2rem 0 2rem 0;
}

.cart-shop-section__title-total {
    font-size: 3.2rem;
    font-family: "Poppins-SemiBold";
}

.cart-shop-section__keeper-sub-total,
.cart-shop-section__keeper-total {
    display: flex;
    gap: 6rem;
}

.cart-shop-section__keeper-sub-total--subTotal {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}





.cart-shop-section__sub-total-price {
    color: var(--gray-color);
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.cart-shop-section__total-price {
    font-size: 2rem;
    color: var(--Primary-color);
}

.cart-shop-section__total-btn-checkOut-box {
    border: 0.1rem solid var(--dark-color);
    border-radius: 1.5rem;
}

.cart-shop-section-btn-checkOut {
    outline: none;
    border: none;
    background-color: transparent;
    width: 22.8rem;
    height: 5.9rem;
    font-size: 2rem;
    font-family: var(--primary-font);
    cursor: pointer;
}

.cart-shop-section-infomation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.detailes-product__size-btn-box-cart {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #F9F1E7;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 15px rgba(184, 142, 47, 0.7);
    transition: all 0.8s ease-in-out;
}

.detailes-product__size-btn-cart {
    border: none;
    outline: none;
    background-color: transparent;
}

.detailes-product__size-btn-box-cart--active {
    background-color: var(--Primary-color);
    color: var(--white-color);
}

.cart-detailes_container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.icon-delete {
    color: var(--Primary-color);
    cursor: pointer;
}

.icon-delete--pending {
    color: hsl(0, 100%, 50%);
    opacity: 0.6;
    cursor: not-allowed !important;
}

.quantity-input--pending {
    color: hsl(0, 100%, 50%);
}