@import url(../Features/navBar.css);
@import url(../defaults.css);
@import url(../Features/homeSection.css);
@import url(../Features/footer.css);
@import url(../Features/selectBox.css);
@import url(../Features/service.css);
@import url(../Features/loader.css);

.services {
    margin-top: 12rem;
}

.comparison {}

.Adding-product-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-wrapper-section {
    display: flex;
    width: 100%;
}

.product-wrapper-section-products {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6rem;
    width: 100%;
}

.product-wrapper {
    height: 34rem;
}


.product-remove-icon {
    font-size: 2.8rem;
    color: #B88E2F;
    cursor: pointer;
}

.warapper-Product-guide {
    width: 30%;
}

.Product-guide {
    width: 22.3rem;
}

.Product-guide__title {
    font-size: 2.8rem;
    font-family: "Poppins-Medium";
}

.product-warapper {
    margin-top: 3.4rem;
}

.Product-Img-Box--com {
    width: 28rem;
    height: 17.7rem;
    background-color: #F9F1E7;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img--com {
    width: 24rem;
    height: 14.2rem;
}

.warapper-product-start {
    display: flex;
    gap: 0.5rem;
}

.product-details-com {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    gap: 0.5rem;
}

.product-details__title {
    font-family: "Poppins-Medium";
    font-size: 2.4rem;
}

.Prodct-price {
    font-family: "Poppins-Medium";
    font-size: 1.8rem;
}

.Product-rating-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.product-rating-number {
    font-size: 1.8rem;
    font-family: "Poppins-Medium";
}

.product-start {
    color: #FFC700;
}

.vertical-line {
    display: block;
    border: 0.1rem solid #9F9F9F;
    height: 3rem;
}

.view-link {
    font-family: "Poppins-Medium";
    font-size: 2rem;
    color: #727272;
    border-bottom: 0.1rem solid #727272;
}

.loader-container-com {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.title-table {
    font-size: 2.8rem;
    font-family: "Poppins-Medium";
    text-shadow: 2px 2px 4px rgba(184, 142, 47, 0.7);
}

.sub-Title {
    font-size: 2rem;
    font-family: "Poppins-Regular";
    text-shadow: 2px 2px 4px rgba(184, 142, 47, 0.7);
}

.verticalTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}


.verticalTable td,
.verticalTable th {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 2.5rem;
    border-bottom: none;
    width: 225px;
    vertical-align: bottom;
    word-wrap: break-word;
    overflow: hidden;
}

.verticalTable tr:first-child td {
    border-top: 1px solid #ddd;
}

.verticalTable tr td:first-child {
    border-left: none;
}

.verticalTable tr td:last-child {
    border-right: none;
}

.btn-comparison {
    outline: none;
    border: none;
    background-color: transparent;
    width: 21.5rem;
    height: 6.4rem;
    background-color: var(--Primary-color);
    font-size: 2rem;
    color: var(--white-color);
    cursor: pointer;
}

.select-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    opacity: 1;
    visibility: visible;
    background-color: var(--Primary-color);
    border-radius: 0.6rem;
    padding: 0 1.5rem;
    margin-right: 2rem;
    transition: opacity 1s ease-in;
}

.catgory-comparison {
    margin: 3rem;
}

.catgory-box {
    background-color: white;
    height: 30rem;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #B88E2F;
    border: 0.1rem solid #B88E2F;
    font-family: "Poppins-Regular";
}

.catgory-box.active {
    background-color: #FAF3EA;
    color: black;
}

.catgory-box .col-4 {
    font-family: "Poppins-Regular";
}

.swiper-button-next,
.swiper-button-prev {
    color: #B88E2F;
}

#comparison-Swiper.swiper-wrapper {
    height: 33rem !important;
}

.mySwiper {
    margin-top: 2.5rem;
}

.header-section {
    text-align: center;
    padding: 20px;
    background-color: #B88E2F;
    color: white;
    margin-bottom: 20px;
}

.header-section h1 {
    margin: 0;
    font-size: 2em;
}

.header-section p {
    margin: 10px 0 0 0;
}

.catgory-comparison-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 100%;
}

.loader-comparison {
    height: 12rem;
    width: 6rem;
}

.catgory-box {
    display: flex;
    flex-direction: column;
}

#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.option img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.option div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.option div>div {
    margin-bottom: 0.5rem;
}

.option .title {
    font-weight: bold;
    color: #333;
}

.option .price {
    color: #666;
}

.option:hover {
    background-color: var(--Primary-color);
    color: #fff;
}

.option--active {
    background-color: var(--Primary-color);
    color: #fff;
}

.custom-options {
    cursor: auto;
}