@import url(../Features/navBar.css);
@import url(../defaults.css);
@import url(../Features/homeSection.css);
@import url(../Features/footer.css);
@import url(../Features/selectBox.css);
@import url(../Features/service.css);
@import url(../Features/loader.css);

.services {
    margin-top: 12rem;
}

.comparison {}

.Adding-product-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-warapper-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.warapper-Product-guide {
    width: 100%;
}

.Product-guide {
    width: 22.3rem;
}

.Product-guide__title {
    font-size: 2.8rem;
    font-family: "Poppins-Medium";
}

.product-warapper {
    margin-top: 3.4rem;
}

.Product-Img-Box--com {
    width: 28rem;
    height: 17.7rem;
    background-color: #F9F1E7;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img--com {
    width: 24rem;
    height: 14.2rem;
}

.warapper-product-start {
    display: flex;
    gap: 0.5rem;
}

.product-details {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.5rem;
}

.product-details__title {
    font-family: "Poppins-Medium";
    font-size: 2.4rem;
}

.Prodct-price {
    font-family: "Poppins-Medium";
    font-size: 1.8rem;
}

.Product-rating-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.product-rating-number {
    font-size: 1.8rem;
    font-family: "Poppins-Medium";
}

.product-start {
    color: #FFC700;
}

.vertical-line {
    display: block;
    border: 0.1rem solid #9F9F9F;
    height: 3rem;
}

.view-link {
    font-family: "Poppins-Medium";
    font-size: 2rem;
    color: #727272;
    border-bottom: 0.1rem solid #727272;
}

.title-table {
    font-size: 2.8rem;
    font-family: "Poppins-Medium";
    text-shadow: 2px 2px 4px rgba(184, 142, 47, 0.7);
}

.sub-Title {
    font-size: 2rem;
    font-family: "Poppins-Regular";
    text-shadow: 2px 2px 4px rgba(184, 142, 47, 0.7);
}

.verticalTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5rem;
}

.verticalTable td,
.verticalTable th {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 2.5rem;
    border-bottom: none;
    width: 225px;
    vertical-align: bottom;
    word-wrap: break-word;
    overflow: hidden;
}

.verticalTable tr:first-child td {
    border-top: 1px solid #ddd;
}

.verticalTable tr td:first-child {
    border-left: none;
}

.verticalTable tr td:last-child {
    border-right: none;
}

.btn-comparison {
    outline: none;
    border: none;
    background-color: transparent;
    width: 21.5rem;
    height: 6.4rem;
    background-color: var(--Primary-color);
    font-size: 2rem;
    color: var(--white-color);
    cursor: pointer;
}

.select-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    opacity: 1;
    visibility: visible;
    background-color: var(--Primary-color);
    border-radius: 0.6rem;
    padding: 0 1.5rem;
    margin-right: 2rem;
    transition: opacity 1s ease-in;
}