@import url(../Features/navBar.css);
@import url(../Features/homeSection.css);
@import url(../Features/service.css);
@import url(../Features/loader.css);
@import url(../Features/footer.css);
@import url(../defaults.css);

.title-box--contact {
    width: 58%;
}

.wrapper-title-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-us {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10rem;
}

.Specifications-contact__box {
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin-top: 4rem;
}

.Specifications-contact__box:first-child {
    margin-top: 0;
}

.Specifications-contact__title-box {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.Specifications-contact__title {
    font-family: "Poppins-Medium";
    font-size: 2.4rem;
}

.icon-conract-us {
    color: #000000;
    width: 2.2rem;
    height: 2.2rem;
}

.Specifications-contact__description {
    padding-left: 3.5rem;
    font-family: "Poppins-Regular";
}

.form-contact-us {
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
}

.form-contact-us__input-box {
    width: 52.8rem;
    height: 7.5rem;
    border: 0.1rem solid #9F9F9F;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.form-contact-us__input-box--message {
    height: 12rem;
}

.form-contact-us__input {
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    font-family: "Poppins-Regular";
}

.form-contact-us__Message {
    resize: none;
    padding: 3rem;
}

.submit-btn,
.btn-box {
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--white-color);
    font-family: "Poppins-Regular";
    cursor: pointer;
    width: 23.7rem;
    height: 5.5rem;
    background-color: var(--Primary-color);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.submit-btn:disabled,
.btn-box {
    background-color: #c0c0c0;
    color: #ffffff;
    cursor: not-allowed;
    font-size: 1.8rem;
}

.loader {
    color: var(--white-color);
    font-size: 1.8rem;
}