@import url(../defaults.css);
@import url(../Features/loader.css);

body {
    background-color: #FAF3EA;
}

.forgot-wrapper {
    width: 40rem;
    background: #fff;
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 30px rgba(184, 142, 47, 0.7);
}

.forgot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot-title {
    font-size: 2.5rem;
    font-family: "Poppins-SemiBold";
    text-align: center;
}

.forgot-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}

.input-box {
    width: 100%;
    height: 100%;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    border-radius: 1rem;
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;
}

.input {
    outline: none;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    font-family: "Poppins-Regular";
    transition: all 0.3s ease;
}

.input-box:focus-within {
    border-color: var(--Primary-color);
}

::placeholder {
    color: #999;
}

.input:focus::placeholder {
    color: var(--Primary-color);
}

.btn-box {
    width: 100%;
}

.email-btn-box {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.forgot-button {
    height: 100%;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--Primary-color);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    color: white;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.email-btn-submit {
    width: 100%;
}

.btn-submite {
    width: 100%;
}

.resend {
    color: black;
    font-family: "Poppins-Regular";
    display: none;
}

.input-box:focus-within #input-password-icon {
    color: var(--Primary-color);
}

.Confirm-email-button:disabled,
.btn-submite:disabled {
    background-color: #c0c0c0;
    color: #ffffff;
    cursor: not-allowed;
}

.Email-validation-Valid,
.password-validation-Valid,
.fullName-validation-valid {
    color: green;
    display: none;
    justify-content: flex-start;
    width: 100%;
}

.Email-validation-invalid,
.password-validation-invalid,
.fullName-validation-invalid {
    color: red;
    display: none;
    justify-content: flex-start;
    width: 100%;
}