@import url(../Features/navBar.css);
@import url(../Features/homeSection.css);
@import url(../Features/service.css);
@import url(../Features/footer.css);
@import url(../Features/loader.css);
@import url(../defaults.css);

.billing-details {
    padding: 0. 4rem;
    display: flex;
    margin-top: 10rem;
}

.title-billing-details {
    font-size: 3.6rem;
    font-family: "Poppins-SemiBold";
}

.receiver-information {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
}

.full-name-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.warapper-label-input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.information__input-label {
    font-family: "Poppins-Medium";
}

.input-box {
    display: flex;
    padding: 1rem;
    width: 100%;
    height: 7rem;
    border: 0.1rem solid var(--gray-color);
    border-radius: 1rem;
}

.full-name-input-box {
    width: 21rem;
    height: 7rem;
}

.receiver-information__input {
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 2rem;
}

.checkOut {
    width: 95%;
    padding: 0 2rem;

}

.checkOut-details {

    border-bottom: 0.1rem solid var(--gray-color);
}

.checkOut-details-warapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3rem;
}

.checkOut-details-left,
.checkOut-details-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.Product-name-quantity {
    color: var(--gray-color);
}

.Product-quantity {
    color: #000000;
}

.productTotal {
    font-family: "Poppins-Regular";
}

.checkOut-details__title {
    font-size: 2.4rem;
}

.single-product-price-total {
    font-family: "Poppins-Regular";
}

.total-price {
    font-size: 2.4rem;
    font-family: "Poppins-Bold";
    color: var(--Primary-color);
}

.input-radio-label {
    color: var(--gray-color);
}

.custom-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}

.input-radio:checked {
    background-color: #000000;
}

.input-radio {
    appearance: none;
    width: 14px;
    height: 14px;
    border: 0.1rem solid var(--gray-color);
    border-radius: 3px;
    cursor: pointer;
    border-radius: 100%;
}

.bank-transfer-description {
    display: none;
}

.payment-method {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
}

.checkOut-description {
    width: 80%;
    font-family: "Poppins-Regular";
}

.btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    width: 50%;
    height: 64px;
    border: 0.1rem solid #000000;
    border-radius: 1.5rem;
}

.warapper-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Place-order-btn {
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}