@import url("../Features/footer.css");
@import url("../Features/homeSection.css");
@import url("../Features/navBar.css");
@import url("../Features/footer.css");
@import url(../Features/loader.css);

.section-title {
    color: #333;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.privacy-policy-header {
    margin-bottom: 2rem;
    text-align: center;
    padding: 0.5rem;
}

.privacy-policy-title {
    font-size: 2.8rem;
    font-weight: bold;
}

.privacy-policy-content {
    background-color: #fff;
    padding: 2rem;
    border: 0.1rem solid #ddd;
}

.privacy-policy-subtitle {
    font-size: 2.2rem;
}

.privacy-policy-description {
    color: #555;
    font-size: 1.6rem;
    margin-top: 1rem;
}

.privacy-policy-list {
    margin-left: 2rem;
}

.privacy-policy-list-item {
    margin-top: 1rem;
}

.payment-Options-Sub-title {
    font-size: 3rem;
}