@import url(../defaults.css);
@import url(../Features/navBar.css);
@import url(../Features/footer.css);
@import url(../Features/products.css);
@import url(../Features/loader.css);

/*
==========================
cart-shop singel-product
==========================
*/
.cart-Shop {
    position: fixed;
    top: 0;
    right: -30rem;
    height: 100%;
    width: 0;
    background-color: var(--white-color);
    z-index: 100;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    transition: all 0.8s ease-in-out;
    z-index: 1000;
}

.cart-Shop--active {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    width: 41.7rem;
    overflow-y: auto;
    z-index: 1000;
    direction: ltr;
}

.cart-Shop__box-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-Shop__title-head {
    font-size: 2.4rem;
    font-family: "Poppins-SemiBold";
}


.cart-Shop-line {
    width: 28.7rem;
    height: 0.1rem;
    background-color: #D9D9D9;
    margin: 3rem 0 4rem 0;
}

.products-keeper__img {
    width: 11.1rem;
    height: 9rem;
}

.products-keeper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-Shop__products {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.products-keeper__box-img {
    width: 10.8rem;
    height: 10.5rem;
    background-color: rgb(184, 142, 47, 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.cart-Shop__icon-exit-head,
.products-keeper-product-delete {
    cursor: pointer;
}

.products-keeper__img {
    mix-blend-mode: multiply;
}

.products-keeper-box-profile {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--primary-font);
}

.product-information-detailes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.box-calculation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box-calculation__number {
    padding-right: 2rem;
}

.box-calculation__price {
    padding-left: 2rem;
    color: var(--Primary-color);
    font-family: "Poppins-Medium";
}

.sub-total-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.sub-total-box__title {
    font-family: var(--primary-font);
}

.sub-total-box__price {
    padding-right: 3rem;
    color: var(--Primary-color);
    font-family: "Poppins-SemiBold";
}

.cart-Shop__keeper__hr-line {
    margin: 2rem 0 2rem 0;
}

.cart-Shop__btn-keeper-cart {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cart-Shop__btn-keeper__box-btn-cart,
.cart-Shop__btn-keeper__box-btn {
    width: 8.6rem;
    height: 3rem;
    border-radius: 5rem;
    border: 0.1rem solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cart-Shop__btn-keeper__btn-cart,
.cart-Shop__btn-keeper__btn,
.products-keeper-product-delete-btn {
    outline: none;
    border: none;
    background-color: transparent;
    font-family: var(--primary-font);
    cursor: pointer;
}

.cart-Shop__btn-keeper__box-btn {
    width: 11.8rem;
}

.wrapper-full-screen {
    position: relative;
    width: 100%;
    height: 100%;
}

/*
    
======================================
    Single Product___route-product
====================================
*/

.route-product {
    width: 100%;
    background-color: #F9F1E7;
    display: flex;

    padding: 5rem 0 5rem 10rem;
}

.route-product__wrapper {
    display: flex;
    align-items: center;
    gap: 5rem;
    font-family: var(--primary-font);
}

.route-product__path-name {
    color: var(--gray-color);

}

.line {
    width: 0.2rem;
    height: 4rem;
    background-color: var(--gray-color);
}

/*
======================
   detailes-product
======================
*/


.detailes-product {
    display: flex;
    gap: 4rem;
    width: 100%;
    margin-top: 5rem;
    align-items: center;
}

.no-stock {
    font-size: 2.7rem;
    color: red;
}

.detailes-product-container-img-secoun-img-main {
    display: flex;
    gap: 3rem;
}

.detailes-product-img-secound {
    display: flex;
    gap: 3rem;
    align-items: center;
    flex-direction: column;
}

.detailes-product-img-secound__box {
    width: 9.5rem;
    height: 9.5rem;
    border-radius: 1rem;
    background-color: #F9F1E7;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s ease-in-out;
}

.detailes-product-img-secound__box--active {
    background-color: var(--Primary-color);
    transform: scale(1.4);
    border: 0.5rem double var(--white-color);
}

.detailes-product-img-secound__img {
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
    mix-blend-mode: multiply;
}

.detailes-product-img-main__box {
    width: 45rem;
    height: 50rem;
    background-color: #F9F1E7;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.detailes-product-img-main___img {
    width: 100%;
    height: 39.1rem;
    mix-blend-mode: multiply;
    object-fit: contain;
}

.detailes-produc-Specifications__title {
    font-size: 4.2rem;
    font-family: var(--primary-font);
}

.wrapper-Detailes-Products {
    margin-left: 8rem;
}

.detailes-produc-Specifications__price,
.detailes-produc-Specifications__price-discount {
    color: var(--gray-color);
    font-size: 2.4rem;
    font-family: "Poppins-Medium";
    margin: 2rem 0 2rem 0;
}

.detailes-produc-Specifications__price-discount {
    text-decoration: line-through;
}

.detailes-product__description-box {
    display: flex;
    align-items: center;
    margin: 2rem 0 2rem 0;
}

.detailes-produc-Specifications__customer-review-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0 2rem 0;
}

.detailes-produc-Specifications__score {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.box-Icon-social {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 100%;
    background-color: #000000;
    cursor: pointer;
}

.box-Icon-social--linkdin {
    align-items: center;
    border-radius: 0.5rem;
}

.box-Icon-social--twitter {
    align-items: center;
}

.Icon-social {
    color: #ffff;
}

.detailes-produc-Specifications__star--active {
    fill: #FFC700;
}

.detailes-product-Specifications__star {
    color: #FFC700;
    width: 2.5rem;
    height: 2.5rem;
}

.btn-icon {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.detailes-produc-Specifications__line {
    height: 3rem;
}

.detailes-produc-Specifications__status {
    color: var(--gray-color);
    font-family: var(--primary-font);

}

.detailes-product__size-box {
    font-family: var(--primary-font);
}

.detailes-product__size__name {
    color: var(--gray-color);
}

.detailes-product__size-btn-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    cursor: pointer;

}

.detailes-product__size-btn-box {
    width: 3rem;
    height: 3rem;
    background-color: #F9F1E7;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 15px rgba(184, 142, 47, 0.7);
    transition: all 0.8s ease-in-out;
}

.detailes-product__size-btn-box--active {
    background-color: var(--Primary-color);
}

.detailes-product__size-btn--active {
    color: var(--white-color);
}

.detailes-product__color-box {
    font-family: var(--primary-font);
    margin: 2rem 0 2rem 0;
}

.detailes-product__Color__name {
    color: var(--gray-color);
}

.detailes-product__Color-btn-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

.detailes-product__Color-btn-box {
    width: 3rem !important;
    height: 3rem !important;
    border-radius: 100% !important;
    display: inline-block !important;
    cursor: pointer !important;
    transition: all 0.8s ease-in-out !important;
}

.detailes-product__Color-btn-box--active {
    transform: scale(1.4) !important;
}

.detailes-product__size-btn {
    border: none;
    outline: none;
    background-color: transparent;
}

.detailes-product-btn {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-family: var(--primary-font);
    margin-top: 2rem;
}

.detailes-product-input__box-quantity,
.detailes-product-btn__box-cart,
.detailes-product-btn__box-Compare {
    width: 12.3rem;
    height: 6.4rem;
    border: 0.1rem solid var(--gray-color);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    border-radius: 1rem;
}

.detailes-product-input__quantity {
    outline: none;
    border: none;
    background-color: transparent;

    width: 25%;
    font-family: "Poppins-Medium";
    font-size: 1.6rem;

}

.detailes-product-input__quantity[type="number"]::-webkit-inner-spin-button,
.detailes-product-input__quantity[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;

}


.detailes-product-input__quantity__plus,
.detailes-product-input__quantity__minus {
    cursor: pointer;
    user-select: none;
}



.detailes-product-input__quantity-Container-input {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.detailes-product-btn__box-cart,
.detailes-product-btn__box-Compare {
    width: 21.5rem;

}

.detailes-product-btn__cart,
.detailes-product-btn__Compare {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    font-family: var(--primary-font);
    cursor: pointer;
}



.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, );
    transition: all 0.8s ease-in-out;
}

.wrapper--active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 20%);
}

.Supplementary-specifications {
    display: flex;
    justify-content: end;
    font-family: var(--primary-font);
    color: var(--gray-color);
    margin-top: 5rem;
}

.wrapper-Supplementary-specifications-right {
    flex-basis: 50%;
    border-top: 0.1rem solid var(--gray-color);
    display: flex;
    align-items: center;
    flex-basis: 50%;
    padding-top: 3rem;
    margin-bottom: 3rem;
}

.Supplementary-specifications__title-box,
.Supplementary-specifications__value-box,
.Supplementary-specifications__point-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Supplementary-specifications__title {
    padding-right: 5rem;
}

.Supplementary-specifications__value {
    padding-left: 1rem;
}

.box-remove-product {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: #9F9F9F;
}

.icon-close {
    color: #ffffff;
}


.Supplementary-specifications__box-icon {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
}

/* **product-infomation  */

.product-infomation {
    border-top: 0.1rem solid #D9D9D9;
    margin-bottom: 8rem;
}

.product-infomation-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5rem;
    margin-top: 6rem;
}

.product-infomation-menu__item {
    cursor: pointer;
    color: var(--gray-color);
    font-family: "Poppins-Regular";
    font-size: 2.4rem;
    transition: all 1000ms ease-in-out;
}

.product-infomation-menu__item--active {
    color: #000000;
}

.product-description {
    color: var(--gray-color);
}

.additional-information {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-description-sub {
    margin-top: 3rem;
}

.additional-information__table {
    width: 80%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
    font-family: "Poppins-Regular";
}

.column-head:nth-child(even) {
    background-color: #f9f9f9;
}

.column-head:hover {
    background-color: #f1f1f1;
}

.additional-information__body {
    width: 30%;
}

.column-body__content,
.column-head__content {
    padding: 2.5rem 5rem;
    border: 1px solid #ddd;
    text-align: center;
}

.column-head__content {
    background-color: #f2f2f2;
}

.information-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 33rem;
    margin: 3rem 0;
}

.content {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms ease-in-out;
}

.content--active {
    width: 80%;
    height: auto;
    opacity: 1;
    visibility: visible;
}

.product-img-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.product-img-box {
    width: 100%;
    height: 60rem;
    background-color: #FAF3EA;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.product-img {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}

.releted-products {
    border-top: solid 0.1rem var(--gray-color);
    padding-top: 8rem;
}

.box-btn-show-more {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-delete--pending {
    color: hsl(0, 100%, 50%);
    opacity: 0.6;
    cursor: not-allowed !important;
}