html {
    font-size: 62.5%;
    box-sizing: border-box;
}

:root {
    --text-color: #333333;
    --text-Secondary-color: #3A3A3A;
    --Primary-color: #B88E2F;
    --secondary-color: #FAF3EA;
    --dark-color: #000000;
    --gray-color: #9F9F9F;
    --white-color: #FFFFFF;
    --primary-font: "Poppins-Regular";
}

*::after,
*::before {
    box-sizing: inherit;
    font-family: var(--primary-font);
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: "Poppins-Medium";
    color: var(--text-color);
}

a {
    text-decoration: none;
}

.icon {
    color: var(--white-color);
    width: 1.4rem;
    height: 1.4rem;
}

.icon-container__link--login {
    color: var(--dark-color);
    font-size: 20px;
    font-family: "Poppins-Regular";
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    justify-content: center;
    gap: 0.5rem;
}

.menu-icon {
    color: var(--dark-color);
    font-size: 2.25rem;
}

.menu-icon--active {
    color: var(--Primary-color);
}

.alert {
    color: var(--white-color);
    font-size: 2.5rem;
    background-color: #ff0000;
    font-family: var(--primary-font);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    border-radius: 1rem;
    flex-wrap: wrap;
    text-align: center;
}

.row-container .alert {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
}

.title {
    font-size: 3.2rem;
    text-align: center;
    font-family: "Poppins-Bold";
}

.secondary-title {
    font-size: 2rem;
    text-align: center;
    font-family: var(--primary-font);
    color: #666666;
}

.dont-login,
.login-successfully {
    display: none;
}

#icon-login,
#user-icon {
    font-size: 2.25rem;
    font-family: "Poppins-Regular";
}

.custom-swal2 .swal2-styled {
    border: none !important;
    box-shadow: none !important;
}

.custom-swal2 .swal2-confirm {
    border: none !important;
    box-shadow: none !important;
}

.custom-swal2 .swal2-cancel {
    border: none !important;
    box-shadow: none !important;
}