@media screen and (max-width:1400px) {
    .wrapper-Supplementary-specifications-left {
        display: none;
        flex-basis: 0;
    }

    .Supplementary-specifications {
        justify-content: center;
    }

    .wrapper-Supplementary-specifications-right {
        justify-content: center;
        flex-basis: 100%;
    }

    .detailes-product {
        flex-direction: column;
    }

    .detailes-product-container-img-secoun-img-main {
        display: flex;
        align-items: center;
        gap: 10rem;
    }

    .detailes-produc-Specifications {
        align-items: center;
        margin-left: 0;
    }

    .detailes-product__description {
        text-align: center;
        flex-wrap: wrap;

    }

    .detailes-product__description-box {
        padding: 0;
    }

    .detailes-product__size-box,
    .detailes-product__color-box {
        font-family: "Poppins-Regular";
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .detailes-product-img-secound__img {
        width: 100%;

    }

    .detailes-product-img-main__box {
        width: 100%;

    }

    .detailes-product-img-main___img {
        width: 100%;

    }

    .box-contant-img-slaider {
        width: 20rem;
    }

    .wrapper-Detailes-Products {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services {
        justify-content: center;
        flex-wrap: wrap;
        padding: 8rem 2rem 8rem 2rem;
    }

    .wrapper-title-img {
        width: 70%;
        height: 70%;
    }

    .wrapper-title,
    .wrapper-link {
        flex-wrap: wrap;
    }

    .about-us {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .full-name-input-box {
        width: 100%;
    }

    .navbar-successfully-Register-text,
    .navbar-dont-Register-text {
        display: inline-block;
        max-width: 54px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .service-container {
        gap: 4rem;
    }
}

@media screen and (max-width:1200px) {

    .icon-container-option {
        gap: 2rem;
    }

    .list-menu__item {
        margin-left: 3rem;
    }

    .slaisder-section {
        flex-direction: column;
    }

    .slaider-contant {

        align-items: center;
        text-align: center;
    }

    .shop-filter {
        height: 40rem;

    }

    .shop-filter--active {
        height: 50rem;

    }

    .shop-filters {
        flex-direction: column;
        gap: 3rem;
    }

    .shop-filter__input-box--number,
    .shop-filter__input-box--text {
        width: 100%;
    }

    .shop-filter__input-filters {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .shop-filters__result-text-box-icon {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

    .box-filter--active {
        width: 80%;
        height: 100%;
        padding: 3rem;
    }

    .product-name-col {
        font-size: 2.5rem;
    }

    .product-Introduction-col {
        font-size: 1.6rem;
    }

    .product-price-col {
        font-size: 1.8rem;
    }

    .product-discountPrice-col {
        font-size: 1.8rem;
    }

    .img-box-overlay-col {
        width: 50%;
    }

    .product-Introductions-col {
        width: 50%;
    }

    .swiper {
        margin: 0;
    }

    .slaisder-section {
        height: 108rem;
    }

    .swiper-wrapper {
        height: 55rem;
    }

    .box-contant-img-slaider {
        bottom: 15%;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        width: 120%;
    }

    .contact-us,
    .form-contact-us {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .form-contact-us,
    .Specifications-contact {
        margin-top: 3rem;
        width: 100%;
    }

    .Specifications-contact__box,
    .form-contact-us__input-box,
    .Specifications-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .Specifications-contact__description {
        padding: 1rem;
    }

    .billing-details {
        flex-direction: column;
    }

    .billing-details {
        align-items: center;
        justify-content: center;
    }

    .checkOut-details {
        margin-top: 4rem;
    }

    .payment-method {
        align-items: center;
        justify-content: center;
    }

    .checkOut-description {
        text-align: center;
    }

    .receiver-information,
    .checkOut {
        width: 100%;
        padding: 0;
    }

    .title-billing-details {
        text-align: center;
    }

    .navbar-Register-text {
        display: none;
    }

    .service {
        width: 33rem;
    }

    .Adding-product-section {
        flex-direction: column;
    }

    .verticalTable {
        margin-top: 1rem;
    }

    .verticalTable td,
    .verticalTable th {
        width: 33.33%;
        display: inline-block;
    }

    .verticalTable tr {
        display: flex;
        flex-wrap: wrap;
    }

    .title-table {
        font-size: 1.8rem;
    }

    .sub-Title {
        font-size: 1.6rem;
    }

    .verticalTable td,
    .verticalTable th {
        vertical-align: bottom;
    }

    .wrapper-checkbox {
        text-align: center;
    }

    .product-wrapper-section-products {
        justify-content: end;
        align-items: center;
    }
}

@media screen and (max-width:992px) {

    .list-menu,
    .icon-container {
        display: none;
    }

    .nav-bar {
        justify-content: space-between;
    }

    .contener-menu-mobail {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        flex-direction: column;
        right: 0;
        left: 0;
        width: 100%;
        top: 100%;
        background-color: #ffffff;
        box-shadow: 0rem 1rem 2rem rgb(182, 182, 182);
        border-radius: 1rem;
        padding: 2rem 0rem 0rem 0rem;
        opacity: 0;
        height: 0rem;
        overflow: hidden;
        transition: all 0.7s ease-in-out;
    }

    .contener-menu-mobail--active {
        opacity: 1;
        height: 25rem;
        z-index: 120;

    }

    .list-menu-mobail {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0rem;
    }

    .list-menu__item-mobail {
        margin-bottom: 2rem;

    }

    .list-menu-item__link-mobail {
        color: #000000;

    }


    .icon-container__link-mobail {
        margin-left: 5rem;
    }

    .icon-container__link-mobail:first-child {
        margin-left: 0rem;
    }


    .nav-bar__logo-img {
        width: 16.5rem;
        height: 3.8rem;

    }

    .hamburger {
        display: flex;
        cursor: pointer;

    }

    .hamburger__line,
    .hamburger__line::after,
    .hamburger__line::before {
        content: "";
        width: 4rem;
        height: 0.3rem;
        background-color: #B88E2F;
        transition: all 0.5s ease-in-out;
        position: relative;
    }

    .hamburger__line::after {
        position: absolute;
        bottom: 1rem;
    }

    .hamburger__line::before {
        position: absolute;
        top: 1rem;
    }

    .hamburger.active .hamburger__line {
        background-color: transparent;
    }

    .hamburger.active .hamburger__line::after {
        transform: translatey(1rem) rotate(405deg);
    }

    .hamburger.active .hamburger__line::before {
        transform: translatey(-1rem) rotate(-405deg);
    }

    .home__content-box {
        background-color: rgb(255, 244, 229, 50%);
    }

    .home__heading {
        margin-top: 2rem;
    }

    .slaisder-section {
        padding: 5rem 0 5rem 0rem;
        gap: 5rem;
    }

    .slaider-pagination-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        position: absolute;
        bottom: -8%;
        left: 40%;
    }

    .footer-items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5rem;
    }

    .items-introduction,
    .items-links,
    .items-helps {
        text-align: center;

    }

    .footer-items {
        padding: 3rem 0 3rem 0;

    }

    .box-copt-right {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12rem;
    }


    .container-links-helps {
        gap: 8rem;
    }

    .icon-container-option {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 12.5%;
        background-color: #ffffff;
        box-shadow: 0rem 0.4rem 0.4rem rgb(0, 0, 0, 25%);
        z-index: 200;
        border-top: 1px solid #bdbdbd
    }

    .cart-shop-section__shop {
        width: 100%;
    }

    .cart-shop-section__total {
        width: 100%;
    }

    .product-name-col {
        font-size: 2rem;
    }

    .product-Introduction-col {
        font-size: 1.6rem;
    }

    .product-price-col {
        font-size: 1.6rem;
    }

    .product-discountPrice-col {
        font-size: 1.6rem;
    }

    .cart-shop-section__box-total {
        margin-bottom: 15rem;
    }

    .title-box--contact {
        width: 100%;
    }

    .navbar-dont-Register-text {
        display: none;
    }

    .service {
        width: 32rem;
    }
}

@media screen and (max-width:768px) {
    .home__title {
        font-size: 4.2rem;
        padding-right: 0rem;
    }

    .range-title-box {
        text-align: center;
    }

    .slaider-contant__title {
        font-size: 3rem;
    }

    .design-header__caption {

        font-size: 1.6rem;

    }

    .design-header__title {
        font-size: 3rem;
    }


    .shop-products__number-pagination {
        gap: 2rem;
    }

    .shop-products__pagination-box-btn,
    .shop-products__next-btn-box,
    .shop-products__prev-btn-box {
        width: 3rem;
        height: 3rem;
    }

    .shop-product-button,
    .shop-products__button-next-text,
    .shop-products__button-prev-text {
        font-size: 1.6rem;
    }

    .shop-products__next-btn-box,
    .shop-products__prev-btn-box {
        width: 4.6rem;
    }

    .shop-products__next-btn-box {
        margin-left: 1rem;
    }

    .shop-products__prev-btn-box {
        margin-right: 1rem;
    }

    .route-product {
        padding: 5rem 0 5rem 0rem;
    }

    .route-product__waraper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .detailes-product-container-img-secoun-img-main {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .detailes-product-img-secound {
        flex-direction: row;
    }

    .detailes-product-btn {
        flex-wrap: wrap;
        justify-content: center;
    }

    .swiper-slide-active .slaider-img {
        width: 100%;
        height: 50rem;
        object-fit: fill;
        filter: blur(0);
        position: relative;
        box-shadow: none;
    }

    .box-contant-img-slaider {
        left: 15%;
        bottom: 15%;
    }

    .box-contant-img-slaider {
        width: 22rem;
    }

    .product-infomation-menu__item {
        font-size: 1.8rem;
    }

    .information-content {
        height: 55rem;
    }

    .content--active {
        width: 100%;
    }

    .route-product__wrapper {
        justify-content: center;
    }

    .service {
        width: 34rem;
    }

    .service-container {
        justify-content: center;
    }

    .Product-Img-Box {
        width: 20rem;
    }

    .product-img {
        width: 18rem;
        height: 14.2rem;
    }

    .product-details,
    .product-selection {
        width: 48%;
    }

    .product-rating-number {
        font-size: 1.4rem;
    }

    .product-details__title,
    .Prodct-price {
        font-size: 1.6rem;
    }

    .product-details,
    .product-selection {
        margin: 0.5rem;
    }

    .select-container {
        margin-right: 1rem;
    }

    .product-selection__title {
        font-size: 1.6rem;
    }

    .btn-comparison {
        width: 100%;
    }

    .Product-Img-Box--com {
        width: 12rem;
    }

    .product-img--com {
        width: 8rem;
    }

    .product-selection--shop-page {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
    }

    .select-container--shop-page {
        width: 90%;
    }

    .option img {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        border-radius: 0.5rem;
        margin-right: 1rem;
    }

    .option div {
        font-weight: bold;
        color: #333;
        font-size: 0.7rem;
    }

    .empty-products img {
        width: 20rem;
    }

    .option {
        padding: 3px;
    }
}

@media screen and (max-width:576px) {
    .home__content-box {
        width: 100%;
    }

    .custom-options {
        padding: 0.3rem;
    }

    .home-section {
        padding: 0 1rem 0 1rem;
    }

    .home {
        padding: 0;
        height: auto;
    }

    .design-header__title {
        font-size: 2rem;
    }

    .shop-filter__box-icon::after {
        display: none;
    }

    .box-filter--active {
        height: 100%;
        padding: 3rem;
    }

    .detailes-product {
        flex-direction: column;
    }

    .detailes-product-img-secound__box {
        width: 7.6rem;
    }

    .cart-Shop--active {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 0;
        width: 100%;
        overflow-y: auto;
        z-index: 1000;
    }

    .cart-Shop {

        z-index: 1000;
        padding: 1rem;

    }

    .cart-shop-section__details-product {
        font-size: 1rem;
        gap: 1rem;
    }

    .cart-shop-section__box-img {
        width: 4.5rem;
        height: 4.5rem;
        background-color: rgb(184, 142, 47, 23%);


    }

    .cart-shop-section__img {
        width: 4.6rem;
        height: 4rem;
    }

    .cart-shop-section__product-Quantity {
        width: 2.2rem;
        height: 2.2rem;
        padding-left: 0.5rem;
    }

    .cart-shop-section__icon-delete {
        width: 1.5rem;
        height: 1.5rem;
    }

    .cart-shop-section__shop-title-keeper {
        padding: 1rem 0rem 1rem 0rem;
        justify-content: space-evenly;
        font-family: "Poppins-Regular";
        gap: 0;
    }

    .box-contant-img-slaider {
        left: 15%;
        bottom: 15%;
        width: 20rem;
    }


    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        width: 100%;
    }

    .autoplay-progress {
        right: 1rem;
        bottom: -0.2rem
    }

    .slaider-content-img-arrow {
        display: none;
    }

    .wrapper-link a {
        font-size: 2rem;
    }

    .total-price {
        font-size: 1.6rem;
    }

    .column-body__content,
    .column-head__content {
        padding: 2.5rem 3.7rem;
    }

    .product-description-box {
        margin-top: 2rem;
    }

    .password-checker-container--active {
        height: 27rem;
    }

    .route-product__wrapper {
        gap: 2rem;
    }

    .btn-comparison {
        width: 9rem;
    }

    .vertical-line {
        display: none;
    }

    .Discount-product {
        right: 32rem;
    }

    .product-img-section {
        flex-direction: column;
    }

    .detailes-product-img-secound {
        width: 100;
    }

    .detailes-product-img-secoun {
        width: 100%;
    }

    .detailes-product__size-btn-box-cart {
        width: 2.2rem;
        height: 2.2rem;
    }

    .lable-product-box-cart {
        left: -1.5rem;
        top: -1.5rem;
    }

    .Discount-product-cart {
        width: 1.8rem;
        height: 1.8rem;
    }

    .product__title {
        font-size: 2.5rem;
    }

    .Product-shipping-status-box {
        font-size: 1.1rem;
    }
}

@media screen and (max-width:392px) {
    .home__title {
        font-size: 3rem;
    }

    .product-wrapper-section-products {
        gap: 1rem;
    }

    .detailes-produc-Specifications__title {
        font-size: 3.2rem;
        text-align: center;
    }

    .product-price {
        font-size: 1.6rem;
    }

    .auth-title {
        font-size: 2.5rem;
    }

    .auth-wrapper {
        padding: 1rem;
    }

    .title-table {
        font-size: 1.5rem;
    }

    .sub-Title {
        font-size: 1.3rem;
    }

    .Discount-product {
        right: 23rem;
    }

    .column-body__content,
    .column-head__content {
        padding: 1.5rem 2.7rem;
    }

    .warapper-Product-guide {
        width: 55%;
    }

}