html {
    font-size: 62.5%;
    box-sizing: border-box;
}

:root {
    --text-color: #333333;
    --text-Secondary-color: #3A3A3A;
    --Primary-color: #B88E2F;
    --secondary-color: #FAF3EA;
    --dark-color: #000000;
    --gray-color: #9F9F9F;
    --white-color: #FFFFFF;
    --primary-font:"Poppins-Regular";
}

*::after,
*::before {
    box-sizing: inherit;
    font-family: var(--primary-font);
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: "Poppins-Medium";
    color: var(--text-color);
}

a {
    text-decoration: none;
}