html {
    font-size: 62.5%;
    box-sizing: border-box;
}

:root {
    --text-color: #333333;
}

*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: "Poppins-Medium";
    color: var(--text-color);
}


a {
    text-decoration: none;
}